<!DOCTYPE html>
<html>
<head>
  <title>Make-up</title>
  
  <link rel="stylesheet" href="style.css">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  
  <header>
    <a href="#" class="logo"><img src="img/logo.svg" alt="Logo" /></a>

    <ul class="navbar">
      <li><a href="#home" class="active">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#shop">Shop</a></li>
      <li><a href="#contacts">Contact</a></li>
      <li><a href="#account">Account</a></li>
    </ul>

    <div class="icons">
      <a href="#search"><i class="ri-search-line" aria-label="Search"></i></a>
      <a href="#user"><i class="ri-user-line" aria-label="User"></i></a>
      <a href="#basket"><i class="ri-shopping-cart-line" aria-label="Cart"></i></a>
      <div class="bx bx-menu" id="menu-icon" aria-label="Menu"></div>
    </div>
  </header>

  <section class="home" id="home">
    <div class="home-text">
      <h4>In this season, find the best</h4>
      <h1>Exclusive collection for everyone</h1>
      <a href="#shop" class="btn">Explore now</a>
    </div>
  </section>
  <section class="feature">
    <div class="middle-text">
      <h2>Discover more...<span>Good things.</span></h2>
    </div>
    <div class="feature-content">
      <div class="row">
        <div class="main-row">
          <div class="row-text">
            <h6>Explore new arrivals</h6>
            <h3>Give the gift<br> of choice</h3>
            <a href="#" class="row-btn">Show me all</a>
          </div>
          <div class="row-img">
            <img src="images.jpg">
          </div>
        </div>
      </div>
    <div class="row row2">
<div class="main-row">
<div class="row-text">
<h6>Explore new arrivals</h6>
<h3>Give the gift <br> of choice</h3>
<a href="#" class="row-btn">Show me all</a>
</div>
<div class="row-img">
<img src="images2.avif">
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </section>
  <div class="video-container">
    <video autoplay muted loop playsinline>
      <source src="video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="icon">
      <i class="fas fa-shopping-basket" aria-label="Shop"></i>
    </div>
  </div>
<script type="script.js"></script>
</body>
</html>
